
<app-header-profile></app-header-profile>
<div  class="jumbotron" style="width: 10%; height: 10%; position: relative; top: 80px;
left: 300px; background-color: black;">
</div>
<div  class="jumbotron" style="width: 10%; height: 10%; position: relative; top: -20px;
left: 360px; background-color: #ff6600;">
</div>

<div style="width: 10%; height: 6px; position: relative; top: -40px;
left: 360px; background-color: black;">
</div>

<div style="width: 50%; height: 6px; position: relative; top: -46px;
left: 500px; background-color: #ff6600;">
</div>

<div  class="jumbotron" style="width: 60.5%; height: 40%; position: relative; top: -20px;
left: 360px;">
    <p>
      <strong>Token:</strong>
      {{ tokenStr.substring(7, 30) }} ...
    </p>
</div>

<h1  *ngIf="isLoggedIn; else loggedOut" style="width: 20px; height: 0px; position: relative;
top: -375px; left: 510px; font-size: 40px;">
  <strong>{{ username }}</strong>
</h1>


<ng-template #loggedOut>
  Please login.
</ng-template>
