<input type="checkbox" id="check" checked>

<header>
  <label for="check" > <i class="fas fa-bars" id="sidebar_btn"></i></label>

  <div class="left_area">
      <h3>Stage <span>2020</span></h3>
  </div>

  <div class="right_area" *ngIf="!isLoggedIn">
    <a href="/login" class="login_btn" id="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
  </div>

  <div class="right_area" *ngIf="isLoggedIn">
    <a href class="logout_btn" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
  </div>

</header>

<div class="sidebar" *ngIf="isLoggedIn">
  <center>
      <img src="assets/img/user2.png" class="profile_img" alt="">
      <h4>{{ username }}</h4>
  </center>

  <a routerLink="/home"><i class="fas fa-home"></i><span>Dashboard</span></a>
  <a routerLink="/addCustomer" style="background-color: #ff6600;"><i class="fas fa-user-plus"></i><span>Add Customer</span></a>
  <a href="/searchCustomer"><i class="fas fa-search"></i><span>Search Customer</span></a>
  <a href="/createContract"><i class="fas fa-file"></i><span>Create Contract</span></a>
  <a href="/searchContract"><i class="fas fa-search-plus"></i><span>Search Contract</span></a>
  <a href="/profile"><i class="fas fa-id-badge"></i><span>Profile</span></a>

</div>
