.btn {
  background-color: #009933;
  color: white;
  float: right;
  position: relative;
  left: 10px;
  top: -80px;
}

.btn:hover {
  background-color: #003311;
}

.btn2 {
  float: right;
  position: relative;
  left: -10px;
  top: -80px;
}

.invalid-input{
  color: red;
}

.stepper{
  width: 80%;
  position: relative;
  background-color: transparent;
  top: 70px;
  left: 15%;
}

.tag{
  position :relative;
  top: -65px;
  left: -32px;
  width: 1045px;
  height: 30px;
  background-color: #ff6600;
  font-size: 18px;font-weight: 700;
  color: white;
}

.form{
  position: relative;
  top: -30px;
}
