.content{
  width: 100%;
  height: 90vh;
}

.container{
  position: absolute;
  top: -5%;
  left: 9%;

}

.btn{
  background-color: #ff9c5e;
  color: white;
}

.btn:hover{
  background-color: #eb5a00;
}
